@import "tailwindcss";

@theme {
  --color-text-primary: #1f2128;
  --color-border-gray: #eeeeee;
  --color-divider-gray: #CDCDCD;
  --color-button-yellow: #fdb913;
  --color-button-yellow-hover: #FFD84D;
  --color-checkbox-border: #d1d1d1;
  --color-checkbox-border-hover: #b8b8b8;
  --color-checkbox-bg-hover: #f8f8f8;
  --color-checkbox-checked: #4d7cfe;
}

@layer base {
  body {
    @apply bg-[#f5f5f5];
  }
}